.card-dark {
  background: $light !important;
}

.card-header {
  background: $light !important;
  padding: 0 !important;
}

.bottleImg {
  width: 70% !important;
}

.card-infos {
  background: $light;
  padding: 0 !important;
  .editIcon {
    color: gray !important;
    font-size: 1.5rem !important;
  }
  .infos {
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}

#descriptionEdit {
  resize: none !important;
}

@media (max-width: 550px) {
  // On cache le footer au click si les infos ne rentre pas
  .hideFooter {
    transform: translateY(100px);
  }
}

@media (max-width: 350px) {
  .bottleImg {
    width: 40% !important;
  }
}
