@import "settings";

.navbar {
  background: #363636 !important;

  ul {
    .active {
      background: $light !important;
      border-radius: 5px;
    }
    .login {
      color: azure;
      font-size: 2rem;
      &:hover {
        color: $back;
        cursor: pointer;
      }
    }
    .disconnect {
      color: rgb(3, 187, 58);
      font-size: 2rem;
      &:hover {
        color: red;
        cursor: pointer;
      }
    }
  }
}

@media (max-width: 993px) {
  .navbar-nav {
    li {
      text-align: center !important;
    }
  }
}

@media (max-width: 350px) {
  .navbar-brand {
    display: none !important;
  }
}
