* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background: #aa5d5d !important;
  height: 100vh !important;
}

.navbar {
  background: #363636 !important;
}
.navbar ul .active {
  background: #d9d9d9 !important;
  border-radius: 5px;
}
.navbar ul .login {
  color: azure;
  font-size: 2rem;
}
.navbar ul .login:hover {
  color: #aa5d5d;
  cursor: pointer;
}
.navbar ul .disconnect {
  color: #03bb3a;
  font-size: 2rem;
}
.navbar ul .disconnect:hover {
  color: red;
  cursor: pointer;
}

@media (max-width: 993px) {
  .navbar-nav li {
    text-align: center !important;
  }
}
@media (max-width: 350px) {
  .navbar-brand {
    display: none !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background: #aa5d5d !important;
  height: 100vh !important;
}

.homeCave {
  background: #b5abab !important;
  height: 100%;
}

.bestBottle {
  width: 100%;
  border: 1px solid black;
  box-shadow: 1px 2px 3px;
  margin-bottom: 30px;
}

.carousel-dot {
  color: #aa5d5d;
  display: flex;
}

.controls {
  display: flex;
  justify-content: space-around;
  color: darkslateblue;
}
.controls .next {
  font-size: 2rem;
}
.controls .prev {
  font-size: 2rem;
}
.controls .next:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.controls .prev:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.error {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  h2 {
    font-size: 0.8rem !important;
  }

  .homeCave {
    flex-direction: column;
    justify-content: start;
    height: 100%;
  }
}
@media (max-width: 350px) {
  .carousel-dot {
    display: none !important;
  }

  .controls {
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background: #aa5d5d !important;
  height: 100vh !important;
}

#footerCop {
  background: #363636 !important;
  transition: 0.8s ease-in-out;
}

@media (max-width: 350px) {
  #footerCop {
    flex-direction: column !important;
    align-items: center !important;
  }
}
#noFooter {
  transition: 0.8s ease-in-out;
  transform: translateY(100px);
  flex-direction: column !important;
  align-items: center !important;
}

@media (min-width: 350px) {
  #noFooter {
    display: flex !important;
    justify-content: end !important;
    flex-direction: row !important;
  }
}
.bottleCard {
  border: 1px solid black;
  height: 30%;
  border-radius: 20px;
  background: #d9d9d9;
  opacity: 0.9;
  box-shadow: 2px 2px 3px;
  transform: scale(0.9);
}
.bottleCard h2 {
  font-size: 0.8rem;
}
.bottleCard h5 {
  font-size: 1rem;
}
.bottleCard img {
  width: 45% !important;
}
.bottleCard:hover {
  transform: scale(1);
  cursor: pointer;
}

@media (max-width: 550px) {
  .bottleCard {
    height: 25%;
  }
  .bottleCard h2 {
    font-size: 0.6rem;
  }
  .bottleCard h5 {
    font-size: 0.8rem;
  }
  .bottleCard img {
    width: 70% !important;
  }
}
.cave {
  height: 80vh;
}

.card-dark {
  background: #d9d9d9 !important;
}

.card-header {
  background: #d9d9d9 !important;
  padding: 0 !important;
}

.bottleImg {
  width: 70% !important;
}

.card-infos {
  background: #d9d9d9;
  padding: 0 !important;
}
.card-infos .editIcon {
  color: gray !important;
  font-size: 1.5rem !important;
}
.card-infos .infos li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (max-width: 550px) {
  .hideFooter {
    transform: translateY(100px);
  }
}
@media (max-width: 350px) {
  .bottleImg {
    width: 40% !important;
  }
}

/*# sourceMappingURL=style.css.map */
